@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Poppins", sans-serif;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../image/afro3.jpg);
    background-position: center;
    background-size: cover;
    height: 155vh;
}

a, a:hover{
    text-decoration: none;
}

.text{
    width: 40%;
    height: 40vh;
    margin-left: 30%;
    margin-top: 10%;
}

.text h1{
    color: #ef4b3f;
    position: absolute;
    margin-left: 3.5%;
    margin-top: 5%;
    font-size: 3.5vw;
}

.text button{
    position: absolute;
    width: 12%;
    height: 5vh;
    font-size: 2vw;
    color: #ef4b3f;
    margin-top: 12%;
    margin-left: 15%;
    background-color: transparent;
    border-radius: 35px;
    border-color: #ef4b3f;
    cursor: pointer;
    transition: 1s;
}
.text button:hover{
    color:white;
    background-color: white;
}
.text button a{
    color: #ef4b3f;
    text-decoration: none;
}


@media screen and (max-width: 600px){

    .main{
        height: 235vh;
    }

    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }

}
