@import url('https //fonts.googleapis.com/css family=poppins:wght@200;300;400;500;600;700;800;900& display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../explore/image2/image/Alger.jpg);
    background-position: center;
    background-size: cover;
    height: 155vh;
}

a, a:hover{
    text-decoration: none;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #ef4b3f;
}

.top-bar span{
    color: #fff;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 5px;
}

.top-bar a{
    color: #fff;
}

.top-bar a:hover{
    color: #222;
}

nav{
    background: #222;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: #fff;
}

nav a:hover{
    color: #ef4b3f;
}
.logo img{
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.logo{
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    align-items: center;
    font-size: 20px;
}

.logo a:hover{
    color:#ef4b3f;
}

.menu{
    display: flex;
    align-items: center;
    list-style:none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}

.contact{
    position: relative;
    padding: 50px 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.main .content{
    width: 250px;
    text-align: center;
    margin-top: 50px;
    margin-left: 40%;
}

.main .content h2{
    font-size: 2vw;
    font-weight: 500;
    color: #ef4b3f;
}
.main .content p{
    font-size: 1.1vw;
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 30px;
}
.container .map{
    width: 40%;
    background: #fff;
}
.map iframe{
    width: 100%;
    height: 100%;
}


.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
}
.contactForm h2{
    color: #333;
    font-size: 32px;
    font-weight: 500;
}
.contactForm .inputbox{
    position: relative;
    margin-top: 10px;
    width: 100%;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
    resize: none;
}
.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputbox input:focus ~ span, .contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span, .contactForm .inputbox textarea:valid ~ span
{
    color: #ef4b3f;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"]{
    background: #ef4b3f;
    width: 100px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


/*-------------------------------*/
footer{
    width: 100%;
    background: #222;
    color: #fff;
    padding: 15px 0 30px ;
    border-top-left-radius: 125px;
    font-size: 16px;
    line-height: 20px;
}


@media (max-width: 600px)
{
    .main
    {
        height: 300vh;
    }
 
    .contact{
        padding: 50px;
    }
    .main .content{
        width: 100px;
    }

    .container{
        flex-direction: column;
    }
    .container .map,
    .contactForm
    {
        width: 100%;
    }

    .map iframe{
        height: 375px;
    }
}