/*Footer*/
footer {
    background: rgb(1, 48, 4);
    height: 80px;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
  }
  footer span a {
    color: rgb(248, 244, 30);
    text-decoration: none;
  }
  footer span a:hover {
    color: rgb(70, 255, 70);
    font-size: 18px;
    text-decoration: none;
  }