@import url('https //fonts.googleapis.com/css family=poppins:wght@200;300;400;500;600;700;800;900& display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


.main{
    width: 100%;
}

a, a:hover{
    text-decoration: none;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.top-bar span{
    color: #fff;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 5px;
}

.top-bar a{
    color: #fff;
}

.top-bar a:hover{
    color: #0000ff;
}

nav{
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: #fff;
}

nav a:hover{
    color: #0000ff;
}
.logo img{
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.logo{
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    align-items: center;
    font-size: 20px;
}

.logo a:hover{
    color:#0000ff;
}

.menu{
    display: flex;
    align-items: center;
    list-style:none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}
.slider{
    width: 100%;
    height: 100vh;
    top: 0;
}

#slideimg{
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    0%{
        transform: scale(1.3);
    }

}
.overlay{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(rgba( 0,0,0,0.7),rgba( 0,0,0,0.7));
    position: absolute;
    top: 0;
}
.content{
    width: 60%;
    margin: 160px auto 0;
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 4.5vw;
}
content h3{
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height: 25px;
}

.context{
    width: 100%;
}
.context h1{
    text-align: center;
    font-size: 4.5vw;
    font-weight: bold;
    margin: 50px;
}

.context img{
    float: left;
    width: 40%;
    margin: 15px;
    height: 26.25vw;
}
.context p{
    font-size: 1.5vw;
    margin: 15px;
}

.bread-crumbs{
    margin: 50px auto;
    text-align: center;

}
.bread-crumbs ul{
    list-style: none;
}
.bread-crumbs ul li{
    display: inline-block;
   
}
.bread-crumbs ul li a{
    display: block;
    float: left;
    height: 80px;
    background-color: #ccc;
    text-align: center;
    padding: 30px 20px 0 60px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 20px;
    text-decoration: none;
    color: #0000ff;
}
.bread-crumbs ul li a::after{
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #ccc;
    position: absolute;
    right: -40px;
    top: 0;
    z-index: 1;
}
.bread-crumbs ul li a::before{
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
 }
.bread-crumbs ul li:first-child a{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bread-crumbs ul li:first-child a::before{
    display: none; 
}
.bread-crumbs ul li:last-child a{
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bread-crumbs ul li:last-child a::after{
    display: none;
}
.bread-crumbs ul li a:hover{
    background: #0000ff;
    color: #fff; 
}
.bread-crumbs ul li a:hover::after{
    border-left-color: #0000ff;
    color: #fff;
}

.section{
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider2{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.images{
    width: 20%;
    transition: 2s;
}

.images img{
    width: 800px;
    height: 500px;
}

.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn{
    border: 2px solid #0000ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background: #0000ff;
}

#radio1:checked ~.i1{
    margin-left: 0;
}
#radio2:checked ~.i1{
    margin-left: -20%;
}
#radio3:checked ~.i1{
    margin-left: -40%;
}
#radio4:checked ~.i1{
    margin-left: -60%;
}
#radio5:checked ~.i1{
    margin-left: -80%;
}
#radio6:checked ~.i1{
    margin-left: -100%;
}
#radio7:checked ~.i1{
    margin-left: -120%;
}
#radio8:checked ~.i1{
    margin-left: -140%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid #0000ff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~.nav-auto .a-b1{
    background-color: #0000ff;
}
#radio2:checked ~.nav-auto .a-b2{
    background-color: #0000ff;
}
#radio3:checked ~.nav-auto .a-b3{
    background-color: #0000ff;
}
#radio4:checked ~.nav-auto .a-b4{
    background-color: #0000ff;
}
#radio5:checked ~.nav-auto .a-b5{
    background-color: #0000ff;
}
#radio6:checked ~.nav-auto .a-b6{
    background-color: #0000ff;
}
#radio7:checked ~.nav-auto .a-b7{
    background-color: #0000ff;
}
#radio8:checked ~.nav-auto .a-b8{
    background-color: #0000ff;
}


.section2 h1{
    text-align: center;
    font-size: 4.5vw;
    font-weight: bold;
    margin: 50px
}

div.gallery {
    border: 1px solid #ccc;
}
  
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

*{
    box-sizing: border-box;
}

.Cities {
    padding: 10px 6px;
    float: left;
    width: 24.99999%;
    font-weight: bold;
    font-size: 18px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}