@import url('https //fonts.googleapis.com/css family=poppins:wght@200;300;400;500;600;700;800;900& display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


.main{
    width: 100%;
}

a, a:hover{
    text-decoration: none;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.top-bar span{
    color: #fff;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 5px;
}

.top-bar a{
    color: #fff;
}

.top-bar a:hover{
    color: #0000ff;
}

nav{
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: #fff;
}

nav a:hover{
    color: #0000ff;
}
.logo img{
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.logo{
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    align-items: center;
    font-size: 20px;
}

.logo a:hover{
    color:#0000ff;
}

.menu{
    display: flex;
    align-items: center;
    list-style:none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}
.slider{
    width: 100%;
    height: 100vh;
    top: 0;
}

#slideimg{
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    0%{
        transform: scale(1.3);
    }

}
.overlay{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(rgba( 0,0,0,0.7),rgba( 0,0,0,0.7));
    position: absolute;
    top: 0;
}
.content{
    width: 60%;
    margin: 160px auto 0;
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 4.5vw;
}
content h3{
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height: 25px;
}

.context{
    width: 100%;
   /* height: 100vh;*/
}
.context h1{
    text-align: center;
    font-size: 4.5vw;
    font-weight: bold;
    margin: 50px;
}

.context img{
    float: left;
    width: 40%;
    margin: 15px;
    height: 26.25vw;
}
.context p{
    font-size: 1.5vw;
    margin: 15px;
}

.slider2 .heading{
    margin-top: 10px;
    text-align: center;
    font-family: "Lato";
    text-transform: uppercase;
}
  
.slider2 h1:after {
    display: block;
    height: 2px;
    background-color: #0000ff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 65px;
}
  
.carousel-slide {
    width: 60%;
    margin: auto;
    height: 60%;
}
   
.carousel-slide h1 {
    color: #0000ff;
}

.slider2 .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.slider2 .popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #0000ff;
    cursor: pointer;
    z-index: 100;
}
.slider2 .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

/*.bread-crumbs{
    margin: 50px auto;
    text-align: center;
}*/

.section2 h1{
    text-align: center;
    font-size: 4.5vw;
    font-weight: bold;
    margin: 50px
}

div.gallery {
    border: 1px solid #ccc;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
.Cities {
    padding: 10px 6px;
    float: left;
    width: 24.99999%;
    font-weight: bold;
    font-size: 18px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

footer{
    background:#777;
    height: 80px;
    padding: 25px;
    text-align: center;
}
footer span a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}

footer span a:hover {
    color: #0000ff;
    font-size: 22px;
    text-decoration: none;
}

@media (max-width: 600px)
{
    nav{
        display: block;
        position: relative;
        padding: 50px;
        padding: 15px 20px;
    }
    .menu{
        margin-top: 15px;
        display: none;
    }
    .menu.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .Cities {
        width: 49.99999%;
        margin: 6px 0;
    }
    .carousel-slide h4 {
        display: none;
    }
      .carousel-slide h1 {
        margin-bottom: 0;
    }
    .bread-crumbs{
        display: block;
    }
    .slider2 .popup-image img{
        width: 80%;
    }
}